<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjmike.lundaoTaoti.mapper.TaotiMapper">
	<resultMap type="com.pjmike.lundaoTaoti.po.Taoti" id="ResultAllTaoti">
		<id column="taotiId" property="taotiId"/>
		<result column="title" property="title"/>
		<result column="backgroud" property="backgroud"/>
		<result column="commentNum" property="commentNum"/>
		<result column="content" property="content"/>
		<result column="userid" property="userid"/>
		
	</resultMap>
	<resultMap type="com.pjmike.lundaoTaoti.po.Taoti" id="ResultAllTaoti2">
		<id column="taotiId" property="taotiId"/>
		<result column="title" property="title"/>
		<result column="backgroud" property="backgroud"/>
		<result column="userid" property="userid"/>
		<result column="content" property="content"/>
	</resultMap>

	<!-- 增添用户发起的辩题 -->
	<insert id="insertTheis" parameterType="com.pjmike.lundaoTaoti.po.Taoti" useGeneratedKeys="true" keyProperty="taotiId">
		insert into taoTi(userid,nickname,Icon,title,content,backgroud) values(#{userid},#{nickname},#{Icon},#{title},#{content},#{backgroud})
	</insert>
	
	<!-- 找出用户所有的淘题 -->
	<select id="selectAllTaoti" parameterType="int" resultMap="ResultAllTaoti">
		select taotiId,userid,title,content,backgroud,commentNum from taoTi t where userid=#{id}
	</select>
	<!-- 返回某一具体淘题的信息 -->
	<select id="selectOne" resultMap="ResultAllTaoti2">
		select taotiId,title,content,userid,backgroud from taoTi t  where taotiId = #{taotiId} and userid = #{userid}
	</select>
	
	<!-- 增加淘题的期望值 -->
	<update id="upCommentNum" parameterType="int">
		update taoTi set commentNum = commentNum+1 where taotiId = #{id}
	</update>
	<!-- 减少淘题的期望值 -->
	<update id="downCommentNum" parameterType="int">
		update taoTi set commentNum = commentNum-1 where taotiId = #{id}
	</update>
	<insert id="insertCommented" parameterType="com.pjmike.lundaoTaoti.po.Taoti">
		insert into taoticommented(taoti_userid,taoti_id,commented) values(#{userid},#{taotiId},#{commented})
	</insert>
	<update id="updateCommented" parameterType="com.pjmike.lundaoTaoti.po.Taoti">
		update taoticommented set commented = #{commented} where taoti_userid = #{userid} and taoti_id=#{taotiId}
	</update>
	<select id="selectTaoticommented" parameterType="com.pjmike.lundaoTaoti.po.Taoti" resultType="Integer">
		select count(*) from taoticommented where  taoti_userid = #{userid} and taoti_id=#{taotiId}
	</select>
	<select id="selectTaoti" parameterType="String" resultType="com.pjmike.lundaoTaoti.po.Taoti">
		select * from taoTi  where true 
		<if test="value != null"> and title like concat('%',#{value},'%') </if>
	</select>
	<select id="selectTaotiStatus" resultType="boolean">
		select commented from taoticommented where taoti_userid = #{userid} and taoti_id=#{taotiId}
	</select>
	<insert id="insertlabels" >
		insert labels(taotiId,value) values(#{taotiId},#{value})
	</insert>
	
</mapper>