<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 配置注解器映射器，注解器适配器 -->
    <!-- 里面包含json包 -->
    <context:component-scan base-package="com.pjmike.lundaoTaoti.controller"></context:component-scan>
    <context:component-scan base-package="com.pjmike.lundao.controller"></context:component-scan>
    <mvc:annotation-driven ></mvc:annotation-driven>
    <!-- 使用默认的Servlet来响应静态文件 -->
<!--     <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
			<property name="converters">
				<bean class="com.pjmike.lundao.po.CustomDateConverter"></bean>
			</property>  				
    </bean> -->
    <mvc:default-servlet-handler/>
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
    <bean class ="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
        <property name="messageConverters">  
            <list>  
                <ref bean="mappingJacksonHttpMessageConverter" /> 
            </list>  
        </property> 
    </bean> 
    
    <!-- 视图解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置jsp路径的前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 配置jsp路径的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 设置文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize">
    		<value>5242880</value>
    	</property>
    </bean>
</beans>
