<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjmike.lundao.mapper.AskquestionMapper" >
  <resultMap id="BaseResultMap" type="com.pjmike.lundao.po.Askquestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="thesis_id" property="thesisId" jdbcType="INTEGER" />
    <result column="from_uid" property="fromUid" jdbcType="INTEGER" />
    <result column="describtion" property="describtion" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="like" property="like" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
    <result column="dislike" property="dislike" jdbcType="INTEGER" />
    <result column="reply" property="reply" jdbcType="INTEGER" />
    <result column="clickcount" property="clickcount" jdbcType="INTEGER" />
    <result column="publishTime" property="publishtime" jdbcType="TIMESTAMP" />
    <result column="contentTime" property="contenttime" jdbcType="TIMESTAMP" />
  </resultMap>
 	
<!-- 发起提问或者异议 -->
	<insert id="insertaskquestion" parameterType="com.pjmike.lundao.po.Askquestion">
		insert into askquestion(thesis_id,from_uid,describtion,content,type) values(#{thesis_id},#{from_uid},#{describtion},#{content},#{type})
	</insert> 	
	  <!-- 返回一个辩题的点赞数 -->
  <select id="likeNumber" parameterType="int" resultType="int">
  	select count(*) from debatevote  where debate_id =#{id} and d_status=1 
  </select>
  
  <!-- 判断一个用户是否具体点赞过某个辩题 -->
  <select id="Islike"  resultType="int">
  	select d_status from  debatevote where user_id =#{user_id} and debate_id =#{debate_id}
  </select>
  <!-- 判断一个用户是否关注某个辩题 -->
  <select id="IsAttention" resultType="int">
  	select status from  debateAttention where user_id =#{user_id} and debate_id =#{debate_id}
  </select>
  
  <!--设置点赞-->
  <insert id="insetLike" >
   insert into comvote(a_comment_id,a_uid,a_status,a_type) values(#{a_comment_id},#{a_uid},1,#{a_type})
  </insert>
  <!-- 取消点赞 -->
  <update id="giveupLike">
  	update comvote set a_status = 0 where a_uid =#{a_uid} and a_comment_id =#{a_comment_id}
  </update>
  <!-- 关注辩题 -->
  <insert id="insertAttention">
  	insert into askquAttention(ask_id,user_id,status) values(#{ask_id},#{user_id},1)
  </insert>
  <!--取消关注辩题 -->
  <update id="deleteAttention">
  	update askquAttention set status = 0 where user_id =#{user_id} and ask_id =#{ask_id}
  </update>
	
</mapper>