<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjmike.lundao.mapper.QuesconditionMapper" >
  <resultMap id="BaseResultMap" type="com.pjmike.lundao.po.Quescondition" >
    <id column="quesId" property="quesid" jdbcType="INTEGER" />
    <result column="accept" property="accept" jdbcType="VARCHAR" />
    <result column="complete" property="complete" jdbcType="VARCHAR" />
    <result column="discuss" property="discuss" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    quesId, accept, complete, discuss
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pjmike.lundao.po.QuesconditionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from quescondition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quescondition
    where quesId = #{quesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quescondition
    where quesId = #{quesid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pjmike.lundao.po.QuesconditionExample" >
    delete from quescondition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pjmike.lundao.po.Quescondition" >
    insert into quescondition (quesId, accept, complete, 
      discuss)
    values (#{quesid,jdbcType=INTEGER}, #{accept,jdbcType=VARCHAR}, #{complete,jdbcType=VARCHAR}, 
      #{discuss,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pjmike.lundao.po.Quescondition" >
    insert into quescondition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quesid != null" >
        quesId,
      </if>
      <if test="accept != null" >
        accept,
      </if>
      <if test="complete != null" >
        complete,
      </if>
      <if test="discuss != null" >
        discuss,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quesid != null" >
        #{quesid,jdbcType=INTEGER},
      </if>
      <if test="accept != null" >
        #{accept,jdbcType=VARCHAR},
      </if>
      <if test="complete != null" >
        #{complete,jdbcType=VARCHAR},
      </if>
      <if test="discuss != null" >
        #{discuss,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pjmike.lundao.po.QuesconditionExample" resultType="java.lang.Integer" >
    select count(*) from quescondition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update quescondition
    <set >
      <if test="record.quesid != null" >
        quesId = #{record.quesid,jdbcType=INTEGER},
      </if>
      <if test="record.accept != null" >
        accept = #{record.accept,jdbcType=VARCHAR},
      </if>
      <if test="record.complete != null" >
        complete = #{record.complete,jdbcType=VARCHAR},
      </if>
      <if test="record.discuss != null" >
        discuss = #{record.discuss,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update quescondition
    set quesId = #{record.quesid,jdbcType=INTEGER},
      accept = #{record.accept,jdbcType=VARCHAR},
      complete = #{record.complete,jdbcType=VARCHAR},
      discuss = #{record.discuss,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pjmike.lundao.po.Quescondition" >
    update quescondition
    <set >
      <if test="accept != null" >
        accept = #{accept,jdbcType=VARCHAR},
      </if>
      <if test="complete != null" >
        complete = #{complete,jdbcType=VARCHAR},
      </if>
      <if test="discuss != null" >
        discuss = #{discuss,jdbcType=VARCHAR},
      </if>
    </set>
    where quesId = #{quesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pjmike.lundao.po.Quescondition" >
    update quescondition
    set accept = #{accept,jdbcType=VARCHAR},
      complete = #{complete,jdbcType=VARCHAR},
      discuss = #{discuss,jdbcType=VARCHAR}
    where quesId = #{quesid,jdbcType=INTEGER}
  </update>
</mapper>