<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjmike.lundao.mapper.ThesisMapper" >
<resultMap id="BaseResultMap" type="com.pjmike.lundao.po.Thesis" >
    <id column="thesisId" property="thesisid" jdbcType="INTEGER" />
    <result column="t_debateId" property="tDebateid" jdbcType="INTEGER" />
    <result column="t_description" property="tDescription" jdbcType="VARCHAR" />
    <result column="t_view" property="tView" jdbcType="INTEGER" />
    <result column="t_like" property="tLike" jdbcType="INTEGER" />
    <result column="t_attention" property="tAttention" jdbcType="INTEGER" />
    <result column="t_dislike" property="tDislike" jdbcType="INTEGER" />
    <result column="t_ask" property="tAsk" jdbcType="INTEGER" />
    <result column="t_question" property="tQuestion" jdbcType="INTEGER" />
    <result column="t_asklist" property="tAsklist" jdbcType="INTEGER" />
    <result column="t_questionlist" property="tQuestionlist" jdbcType="INTEGER" />
    <result column="t_publishTime" property="tPublishtime" jdbcType="TIMESTAMP" />
    <result column="t_contentTime" property="tContenttime" jdbcType="TIMESTAMP" />
    <result column="complete" property="complete" jdbcType="INTEGER" />
    <result column="uncomplete" property="uncomplete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pjmike.lundao.po.Thesis" extends="BaseResultMap" >
    <result column="t_state" property="tState" jdbcType="LONGVARCHAR" />
   </resultMap>
   
   <resultMap id="BaseResultMap1" type="com.pjmike.lundao.po.ThesisExtend" >
    <id column="thesisId" property="thesisid" jdbcType="INTEGER" />
    <result column="t_debateId" property="tDebateid" jdbcType="INTEGER" />
    <result column="t_description" property="tDescription" jdbcType="VARCHAR" />
    <result column="t_state" property="tState" jdbcType="LONGVARCHAR" />
    <result column="t_like" property="tLike" jdbcType="INTEGER" />
    <result column="t_attention" property="tAttention" jdbcType="INTEGER" />
    <result column="t_dislike" property="tDislike" jdbcType="INTEGER" />
    <result column="t_publishTime" property="tPublishtime" jdbcType="TIMESTAMP" />
    <result column="t_contentTime" property="tContenttime" jdbcType="TIMESTAMP" />
    <result column="complete" property="complete" jdbcType="INTEGER" />
    <result column="uncomplete" property="uncomplete" jdbcType="INTEGER" />
    <result column="t_state" property="tState" jdbcType="LONGVARCHAR" />
	<result column="nickname" property="nickname"/>
    
    <!-- 对论点的评论 -->
   <collection property="askquestions" ofType="com.pjmike.lundao.po.AskquestionExtend">
   	   <id column="id" property="id" jdbcType="INTEGER" />
    <result column="thesis_id" property="thesisId" jdbcType="INTEGER" />
    <result column="describtion" property="describtion" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER"/>
    <result column="like" property="like" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
    <result column="publishTime" property="publishtime" jdbcType="TIMESTAMP"/>
    <result column="nickname" property="nickname"/>
    <result column="Icon" property="Icon"/>
    <result column="isShow" property="isShow"/>
    <!-- 
    	<collection property="replies" ofType="com.pjmike.lundao.po.ReplyExtend">
    			    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="reply_id" property="replyId" jdbcType="INTEGER" />
    <result column="from_uid" property="fromUid" jdbcType="INTEGER" />
    <result column="to_uid" property="toUid" jdbcType="INTEGER" />
    <result column="r_like" property="rLike" jdbcType="INTEGER" />
    <result column="r_type" property="rType" jdbcType="VARCHAR" />
    <result column="r_publishTime" property="rPublishtime" jdbcType="TIMESTAMP" />
    <result column="r_contentTime" property="rContenttime" jdbcType="TIMESTAMP" /> -->
    
    	</collection>
   </resultMap>
   
   
   <resultMap type="com.pjmike.lundao.po.Thesis" id="ResultOne">
   	<id column="thesisId" property="thesisid"/>
   	<result column="t_description" property="tdescription"/>
   	<result column="t_state" property="tstate"/>
   	<result column="t_debateId" property="tDebateid"/>
   	<result column="t_from_uid" property="tfromuid"/>
   	<result column="nickname" property="nickname"/>
   </resultMap>
   <resultMap type="com.pjmike.lundao.po.ThesisCollection" id="CollectionHTesis">
   		<id column="thesisId" property="id"/>
   	<result column="t_description" property="title"/>
   	<result column="t_state" property="content"/>
   	<result column="isZhanKaiTapped" property="isZhanKaiTapped"/>
   	<result column="isShow" property="isShow"/>
   </resultMap>
   <resultMap type="com.pjmike.lundao.po.Thesis" id="ResultOne2" extends="ResultOne">
   		<result column="t_view" property="tView" jdbcType="INTEGER" />
   </resultMap>
   <!-- 论点完善版本的resultMap -->
   <resultMap type="com.pjmike.lundao.po.ThesisSupplement" id="ResultSupplement">
    <result column="t_description" property="tdescription"/>
    <result column="t_state" property="tstate"/>
    <result column="supplement" property="supplement"/>
   </resultMap>
   
   <select id="selectOne" parameterType="int" resultMap="ResultOne">
   		select thesisId,t_description,t_state,t_debateId,t_from_uid,nickname from thesis where thesisId=#{id}
   </select>
 <!-- 一对多查询 -->
  <select id="selectBykey" resultMap="ResultMapWithBLOBs">
  	select thesis.* from thesis,debateTopic where thesis.t_debateId = debateTopic.topicId 
  </select>
  <!-- 根据一个论点id查询出它下面所有的提问及异议 -->
  <select id="selectBythesisId" resultMap="BaseResultMap1" parameterType="int">
 	select 
	 		t.thesisId,
	 		t.t_debateId,
	 		t.t_description,
	 		t.t_state,
	 		t.t_like,
	 		t.t_dislike,
	 		t.t_publishTime,
	 		t.t_contentTime,
	 		t.t_attention,
	 		t.t_state,
	 		t.complete,
	 		t.uncomplete,
	 		t.nickname,
	 		a.id,
	 		a.thesis_id,
	 		a.describtion,
	 		a.content,
	 		a.type,
	 		a.state,
	 		a.like,
	 		a.attention,
	 		a.publishTime,
	 		a.isShow,
	 		u.nickname,
	 		u.Icon
 	 from thesis t left join askquestion a on a.thesis_id = t.thesisId  left join user u on a.from_uid = u.id where t.thesisId=#{id}  order by thesisId  
   </select>
   
   <select id="selectUseridOfThesis" parameterType="int" resultType="int">
   		select t_from_uid from thesis where thesisId = #{int}
  </select>
   <!-- 增加论点 -->
   <insert id="insert" parameterType="com.pjmike.lundao.po.Thesis">
   		insert into thesis(t_debateId,t_description,t_state,t_from_uid,nickname) values (#{tDebateid},#{tDescription},#{tState},#{tfromuid},#{nickname})
   </insert>
   
   
   <!-- 返回一个论点的点赞数 -->
  <select id="likeNumber" parameterType="int" resultType="int">
  	select count(*) from thesisvote  where t_thesisid =#{id} and t_status=1 
  </select>
  <!-- 返回一个论点的关注数 -->
  <select id="attentionNum" parameterType="int" resultType="int">
  	select count(*) from thesisAttention where thesis_id = #{id} and status=1
  </select>
 <!-- 返回用户所关注的论点 -->
 <select id="selectAllThesisAttentioned" parameterType="int" resultMap="ResultOne2">
 	select thesisId,t_description,t_state,t_view from thesis where
 	thesisId in(select thesis_id from thesisAttention where user_id=#{id})
 </select>
  <!-- 判断一个用户是否具体点赞过某个辩题 -->
  <select id="Islike"  resultType="Integer">
  	select t_status from  thesisvote where t_uid =#{t_uid} and t_thesisid =#{t_thesisid}
  </select>
  <!-- 判断一个用户是否关注某个辩题 -->
  <select id="IsAttention" resultType="Integer">
  	select status from  thesisAttention where user_id =#{user_id} and thesis_id =#{thesis_id}
  </select>
  
  
  <!-- 返回论点的所有完善版本 -->
  <select id="selectAllSupplement" parameterType="com.pjmike.lundao.po.Supplement" resultMap="ResultSupplement">
  	select t.t_description,t.t_state,s.nickname,s.supplement from thesis t left join supplement s on s.thesisId = t.thesisId 
  	where s.thesisId =#{thesisId} and s.nickname=#{nickname}
  </select>
  
  <!--设置点赞-->
  <insert id="insetLike">
   insert into thesisvote(t_thesisid,t_uid,t_status) values(#{t_thesisid},#{t_uid},1)
  </insert>
  <!-- 取消点赞 -->
  <update id="giveupLike">
  	update thesisvote set t_status = 0 where t_uid =#{t_uid} and t_thesisid =#{t_thesisid}
  </update>
 
  <!-- 收藏论点 -->
  <insert id="collectionThesis">
  	insert into collectionThesis(thesis_id,user_id,status) values(#{thesis_id},#{user_id},1)
  </insert>
  
  <!-- 返回所有收藏的论点 -->
  <select id="selectAllCollectionThesis" parameterType="int" resultMap="CollectionHTesis">
  	select t.thesisId,t.t_description,t.t_state,c.isShow,c.isZhanKaiTapped from thesis t left join collectionThesis c on c.thesis_id = t.thesisId
  	where c.user_id = #{id}
  </select>
   <!-- 关注论点 -->
  <insert id="insertAttention">
  	insert into thesisAttention(thesis_id,user_id,status) values(#{thesis_id},#{user_id},1)
  </insert>
  <!--取消关注辩题 -->
  <update id="deleteAttention">
  	update thesisAttention set status = 0 where user_id =#{user_id} and thesis_id =#{thesis_id}
  </update>
  <update id="AaginAttentioned">
  	update thesisAttention set status = 1 where user_id =#{user_id} and thesis_id =#{thesis_id}
  </update>
  <select id="selectAttentioned" resultType="Integer">
  	select count(*) from thesisAttention where user_id =#{user_id} and thesis_id =#{thesis_id}
  </select>
   <!--再次关注辩题-->
   
   
   <!-- 点击收藏页面的小叉 -->
   <update id="updateColleThesisIsshow" parameterType="int">
   		update collectionThesis set isShow = 0 where thesis_id = #{id} and user_id =#{userid}
   </update>
   
</mapper>