<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjmike.lundao.mapper.ThesisMapper" >
  <resultMap id="BaseResultMap" type="com.pjmike.lundao.po.Thesis" >
    <id column="thesisId" property="thesisid" jdbcType="INTEGER" />
    <result column="t_debateId" property="tDebateid" jdbcType="INTEGER" />
    <result column="t_description" property="tDescription" jdbcType="VARCHAR" />
    <result column="t_view" property="tView" jdbcType="INTEGER" />
    <result column="t_like" property="tLike" jdbcType="INTEGER" />
    <result column="t_attention" property="tAttention" jdbcType="INTEGER" />
    <result column="t_dislike" property="tDislike" jdbcType="INTEGER" />
    <result column="t_ask" property="tAsk" jdbcType="INTEGER" />
    <result column="t_question" property="tQuestion" jdbcType="INTEGER" />
    <result column="t_asklist" property="tAsklist" jdbcType="INTEGER" />
    <result column="t_questionlist" property="tQuestionlist" jdbcType="INTEGER" />
    <result column="t_publishTime" property="tPublishtime" jdbcType="TIMESTAMP" />
    <result column="t_contentTime" property="tContenttime" jdbcType="TIMESTAMP" />
    <result column="complete" property="complete" jdbcType="INTEGER" />
    <result column="uncomplete" property="uncomplete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pjmike.lundao.po.Thesis" extends="BaseResultMap" >
    <result column="t_state" property="tState" jdbcType="LONGVARCHAR" />
    
    
  </resultMap>
  
  
  
  <resultMap id="BaseResultMap1" type="com.pjmike.lundao.po.ThesisExtend" >
    <id column="thesisId" property="thesisid" jdbcType="INTEGER" />
    <result column="t_debateId" property="tDebateid" jdbcType="INTEGER" />
    <result column="t_description" property="tDescription" jdbcType="VARCHAR" />
    <result column="t_view" property="tView" jdbcType="INTEGER" />
    <result column="t_like" property="tLike" jdbcType="INTEGER" />
    <result column="t_attention" property="tAttention" jdbcType="INTEGER" />
    <result column="t_dislike" property="tDislike" jdbcType="INTEGER" />
    <result column="t_ask" property="tAsk" jdbcType="INTEGER" />
    <result column="t_question" property="tQuestion" jdbcType="INTEGER" />
    <result column="t_asklist" property="tAsklist" jdbcType="INTEGER" />
    <result column="t_questionlist" property="tQuestionlist" jdbcType="INTEGER" />
    <result column="t_publishTime" property="tPublishtime" jdbcType="TIMESTAMP" />
    <result column="t_contentTime" property="tContenttime" jdbcType="TIMESTAMP" />
    <result column="complete" property="complete" jdbcType="INTEGER" />
    <result column="uncomplete" property="uncomplete" jdbcType="INTEGER" />
     <!-- 以下是提问级联 -->
    <collection property="asks" ofType="com.pjmike.lundao.po.AskExtend">
    	
	    <id column="askId" jdbcType="INTEGER" property="askid" />
	    <result column="debateId" jdbcType="INTEGER" property="debateid" />
	    <result column="describtion" jdbcType="VARCHAR" property="describtion" />
	    <result column="content" jdbcType="VARCHAR" property="content" />
	    <result column="status" jdbcType="VARCHAR" property="status" />
	    <result column="view" jdbcType="INTEGER" property="view" />
	    <result column="like" jdbcType="INTEGER" property="like" />
	    <result column="attention" jdbcType="INTEGER" property="attention" />
	    <result column="dislike" jdbcType="INTEGER" property="dislike" />
	    <result column="reply" jdbcType="INTEGER" property="reply" />
	    <result column="replylist" jdbcType="INTEGER" property="replylist" />
	    <result column="clickcount" jdbcType="INTEGER" property="clickcount" />
	    <result column="username" jdbcType="VARCHAR" property="username" />
	    <result column="publishTime" jdbcType="TIMESTAMP" property="publishtime" />
	    <result column="contentTime" jdbcType="TIMESTAMP" property="contenttime" />
    
   <!--  提问的状态 -->
	    <association property="askcondition" javaType="com.pjmike.lundao.po.Askcondition">
	    	<id column="askcdId" property="askcdid" jdbcType="INTEGER" />
		    <result column="solve" property="solve" jdbcType="VARCHAR" />
		    <result column="discuss" property="discuss" jdbcType="VARCHAR" />
	    </association>   
	    
    	<!-- 级联提问的回复 -->
	    <collection property="replyask" ofType="com.pjmike.lundao.po.Replyask">
	    	<id column="replyakdId" property="replyakdid" jdbcType="INTEGER" />
		    <result column="ra_askId" property="raAskid" jdbcType="INTEGER" />
		    <result column="ra_describtion" property="raDescribtion" jdbcType="LONGVARCHAR" />
		    <result column="ra_view" property="raView" jdbcType="INTEGER" />
		    <result column="ra_like" property="raLike" jdbcType="INTEGER" />
		    <result column="ra_attention" property="raAttention" jdbcType="INTEGER" />
		    <result column="ra_dislike" property="raDislike" jdbcType="INTEGER" />
		    <result column="ra_replyid" property="raReplyid" jdbcType="INTEGER" />
		    <result column="ra_username" property="raUsername" jdbcType="VARCHAR" />
		    <result column="ra_publishTime" property="raPublishtime" jdbcType="TIMESTAMP" />
		    <result column="ra_contentTime" property="raContenttime" jdbcType="TIMESTAMP" />
		    <result column="ra_floor" property="raFloor" jdbcType="INTEGER" />
	    </collection>
    </collection><!--  -->
    
    <!-- 以下是异议级联 -->
    <collection property="questions" ofType="com.pjmike.lundao.po.QuestionExtend">
    	<id column="q_questionId" property="qQuestionid" jdbcType="INTEGER" />
	    <result column="q_debateId" property="qDebateid" jdbcType="INTEGER" />
	    <result column="q_describtion" property="qDescribtion" jdbcType="VARCHAR" />
	    <result column="q_content" property="qContent" jdbcType="VARCHAR" />
	    <result column="q_status" property="qStatus" jdbcType="VARCHAR" />
	    <result column="q_view" property="qView" jdbcType="INTEGER" />
	    <result column="q_like" property="qLike" jdbcType="INTEGER" />
	    <result column="q_attention" property="qAttention" jdbcType="INTEGER" />
	    <result column="q_dislike" property="qDislike" jdbcType="INTEGER" />
	    <result column="q_reply" property="qReply" jdbcType="INTEGER" />
	    <result column="q_replylist" property="qReplylist" jdbcType="INTEGER" />
	    <result column="q_clickcount" property="qClickcount" jdbcType="INTEGER" />
	    <result column="q_username" property="qUsername" jdbcType="VARCHAR" />
	    <result column="q_publishTime" property="qPublishtime" jdbcType="TIMESTAMP" />
	    <result column="q_contentTime" property="qContenttime" jdbcType="TIMESTAMP" />
	    <!-- 异议的状态 -->
<!-- 	    <association property="replyquestion" javaType="com.pjmike.lundao.po.Quescondition">
	    	<id column="quesId" property="quesid" jdbcType="INTEGER" />
		    <result column="accept" property="accept" jdbcType="VARCHAR" />
		    <result column="complete" property="complete" jdbcType="VARCHAR" />
		    <result column="discuss" property="discuss" jdbcType="VARCHAR" />
	    </association> -->
	 <!--    关联异议的回复 -->
	    <collection property="replyquestion" ofType="com.pjmike.lundao.po.Replyquestion">
	    	 <id column="replyquesId" property="replyquesid" jdbcType="INTEGER" />
    <result column="rq_questionId" property="rqQuestionid" jdbcType="INTEGER" />
    <result column="rq_describtion" property="rqDescribtion" jdbcType="LONGVARCHAR" />
    <result column="rq_view" property="rqView" jdbcType="INTEGER" />
    <result column="rq_like" property="rqLike" jdbcType="INTEGER" />
    <result column="rq_attention" property="rqAttention" jdbcType="INTEGER" />
    <result column="rq_dislike" property="rqDislike" jdbcType="INTEGER" />
    <result column="rq_replyid" property="rqReplyid" jdbcType="INTEGER" />
    <result column="rq_username" property="rqUsername" jdbcType="VARCHAR" />
    <result column="rq_publishTime" property="rqPublishtime" jdbcType="TIMESTAMP" />
    <result column="rq_contentTime" property="rqContenttime" jdbcType="TIMESTAMP" />
    <result column="rq_floor" property="rqFloor" jdbcType="INTEGER" />
	    </collection>
    </collection>
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs1" type="com.pjmike.lundao.po.ThesisExtend" extends="BaseResultMap1" >
    <result column="t_state" property="tState" jdbcType="LONGVARCHAR" />
    
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    thesisId, t_debateId, t_description, t_view, t_like, t_attention, t_dislike, t_ask, 
    t_question, t_asklist, t_questionlist, t_publishTime, t_contentTime, complete, uncomplete
  </sql>
  <sql id="Blob_Column_List" >
    t_state
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pjmike.lundao.po.ThesisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from thesis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pjmike.lundao.po.ThesisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thesis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from thesis
    where thesisId = #{thesisid,jdbcType=INTEGER}
  </select>
  
  
  
  <!-- 查询所有的论点 -->
  
  <!-- 一对多查询 -->
  <select id="selectBykey" resultMap="ResultMapWithBLOBs">
  	select thesis.* from thesis,debateTopic where thesis.t_debateId = debateTopic.topicId 
  </select>
  <!-- 根据一个论点id查询出它下面所有的提问及异议 -->
  <select id="selectBythesisId" resultMap="ResultMapWithBLOBs1" parameterType="int">
  	select * from thesis t,ask a,question q,replyAsk r,replyquestion re where t.thesisId=#{id} and a.debateId=#{id} and q.q_debateId=#{id}
  	and r.ra_askId = a.askId and re.rq_questionId = q.q_questionId
  </select>
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from thesis
    where thesisId = #{thesisid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pjmike.lundao.po.ThesisExample" >
    delete from thesis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pjmike.lundao.po.Thesis" >
    insert into thesis (thesisId, t_debateId, t_description, 
      t_view, t_like, t_attention, 
      t_dislike, t_ask, t_question, 
      t_asklist, t_questionlist, t_publishTime, 
      t_contentTime, complete, uncomplete, 
      t_state)
    values (#{thesisid,jdbcType=INTEGER}, #{tDebateid,jdbcType=INTEGER}, #{tDescription,jdbcType=VARCHAR}, 
      #{tView,jdbcType=INTEGER}, #{tLike,jdbcType=INTEGER}, #{tAttention,jdbcType=INTEGER}, 
      #{tDislike,jdbcType=INTEGER}, #{tAsk,jdbcType=INTEGER}, #{tQuestion,jdbcType=INTEGER}, 
      #{tAsklist,jdbcType=INTEGER}, #{tQuestionlist,jdbcType=INTEGER}, #{tPublishtime,jdbcType=TIMESTAMP}, 
      #{tContenttime,jdbcType=TIMESTAMP}, #{complete,jdbcType=INTEGER}, #{uncomplete,jdbcType=INTEGER}, 
      #{tState,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pjmike.lundao.po.Thesis" >
    insert into thesis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thesisid != null" >
        thesisId,
      </if>
      <if test="tDebateid != null" >
        t_debateId,
      </if>
      <if test="tDescription != null" >
        t_description,
      </if>
      <if test="tView != null" >
        t_view,
      </if>
      <if test="tLike != null" >
        t_like,
      </if>
      <if test="tAttention != null" >
        t_attention,
      </if>
      <if test="tDislike != null" >
        t_dislike,
      </if>
      <if test="tAsk != null" >
        t_ask,
      </if>
      <if test="tQuestion != null" >
        t_question,
      </if>
      <if test="tAsklist != null" >
        t_asklist,
      </if>
      <if test="tQuestionlist != null" >
        t_questionlist,
      </if>
      <if test="tPublishtime != null" >
        t_publishTime,
      </if>
      <if test="tContenttime != null" >
        t_contentTime,
      </if>
      <if test="complete != null" >
        complete,
      </if>
      <if test="uncomplete != null" >
        uncomplete,
      </if>
      <if test="tState != null" >
        t_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thesisid != null" >
        #{thesisid,jdbcType=INTEGER},
      </if>
      <if test="tDebateid != null" >
        #{tDebateid,jdbcType=INTEGER},
      </if>
      <if test="tDescription != null" >
        #{tDescription,jdbcType=VARCHAR},
      </if>
      <if test="tView != null" >
        #{tView,jdbcType=INTEGER},
      </if>
      <if test="tLike != null" >
        #{tLike,jdbcType=INTEGER},
      </if>
      <if test="tAttention != null" >
        #{tAttention,jdbcType=INTEGER},
      </if>
      <if test="tDislike != null" >
        #{tDislike,jdbcType=INTEGER},
      </if>
      <if test="tAsk != null" >
        #{tAsk,jdbcType=INTEGER},
      </if>
      <if test="tQuestion != null" >
        #{tQuestion,jdbcType=INTEGER},
      </if>
      <if test="tAsklist != null" >
        #{tAsklist,jdbcType=INTEGER},
      </if>
      <if test="tQuestionlist != null" >
        #{tQuestionlist,jdbcType=INTEGER},
      </if>
      <if test="tPublishtime != null" >
        #{tPublishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tContenttime != null" >
        #{tContenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="complete != null" >
        #{complete,jdbcType=INTEGER},
      </if>
      <if test="uncomplete != null" >
        #{uncomplete,jdbcType=INTEGER},
      </if>
      <if test="tState != null" >
        #{tState,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pjmike.lundao.po.ThesisExample" resultType="java.lang.Integer" >
    select count(*) from thesis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update thesis
    <set >
      <if test="record.thesisid != null" >
        thesisId = #{record.thesisid,jdbcType=INTEGER},
      </if>
      <if test="record.tDebateid != null" >
        t_debateId = #{record.tDebateid,jdbcType=INTEGER},
      </if>
      <if test="record.tDescription != null" >
        t_description = #{record.tDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.tView != null" >
        t_view = #{record.tView,jdbcType=INTEGER},
      </if>
      <if test="record.tLike != null" >
        t_like = #{record.tLike,jdbcType=INTEGER},
      </if>
      <if test="record.tAttention != null" >
        t_attention = #{record.tAttention,jdbcType=INTEGER},
      </if>
      <if test="record.tDislike != null" >
        t_dislike = #{record.tDislike,jdbcType=INTEGER},
      </if>
      <if test="record.tAsk != null" >
        t_ask = #{record.tAsk,jdbcType=INTEGER},
      </if>
      <if test="record.tQuestion != null" >
        t_question = #{record.tQuestion,jdbcType=INTEGER},
      </if>
      <if test="record.tAsklist != null" >
        t_asklist = #{record.tAsklist,jdbcType=INTEGER},
      </if>
      <if test="record.tQuestionlist != null" >
        t_questionlist = #{record.tQuestionlist,jdbcType=INTEGER},
      </if>
      <if test="record.tPublishtime != null" >
        t_publishTime = #{record.tPublishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tContenttime != null" >
        t_contentTime = #{record.tContenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.complete != null" >
        complete = #{record.complete,jdbcType=INTEGER},
      </if>
      <if test="record.uncomplete != null" >
        uncomplete = #{record.uncomplete,jdbcType=INTEGER},
      </if>
      <if test="record.tState != null" >
        t_state = #{record.tState,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update thesis
    set thesisId = #{record.thesisid,jdbcType=INTEGER},
      t_debateId = #{record.tDebateid,jdbcType=INTEGER},
      t_description = #{record.tDescription,jdbcType=VARCHAR},
      t_view = #{record.tView,jdbcType=INTEGER},
      t_like = #{record.tLike,jdbcType=INTEGER},
      t_attention = #{record.tAttention,jdbcType=INTEGER},
      t_dislike = #{record.tDislike,jdbcType=INTEGER},
      t_ask = #{record.tAsk,jdbcType=INTEGER},
      t_question = #{record.tQuestion,jdbcType=INTEGER},
      t_asklist = #{record.tAsklist,jdbcType=INTEGER},
      t_questionlist = #{record.tQuestionlist,jdbcType=INTEGER},
      t_publishTime = #{record.tPublishtime,jdbcType=TIMESTAMP},
      t_contentTime = #{record.tContenttime,jdbcType=TIMESTAMP},
      complete = #{record.complete,jdbcType=INTEGER},
      uncomplete = #{record.uncomplete,jdbcType=INTEGER},
      t_state = #{record.tState,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update thesis
    set thesisId = #{record.thesisid,jdbcType=INTEGER},
      t_debateId = #{record.tDebateid,jdbcType=INTEGER},
      t_description = #{record.tDescription,jdbcType=VARCHAR},
      t_view = #{record.tView,jdbcType=INTEGER},
      t_like = #{record.tLike,jdbcType=INTEGER},
      t_attention = #{record.tAttention,jdbcType=INTEGER},
      t_dislike = #{record.tDislike,jdbcType=INTEGER},
      t_ask = #{record.tAsk,jdbcType=INTEGER},
      t_question = #{record.tQuestion,jdbcType=INTEGER},
      t_asklist = #{record.tAsklist,jdbcType=INTEGER},
      t_questionlist = #{record.tQuestionlist,jdbcType=INTEGER},
      t_publishTime = #{record.tPublishtime,jdbcType=TIMESTAMP},
      t_contentTime = #{record.tContenttime,jdbcType=TIMESTAMP},
      complete = #{record.complete,jdbcType=INTEGER},
      uncomplete = #{record.uncomplete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pjmike.lundao.po.Thesis" >
    update thesis
    <set >
      <if test="tDebateid != null" >
        t_debateId = #{tDebateid,jdbcType=INTEGER},
      </if>
      <if test="tDescription != null" >
        t_description = #{tDescription,jdbcType=VARCHAR},
      </if>
      <if test="tView != null" >
        t_view = #{tView,jdbcType=INTEGER},
      </if>
      <if test="tLike != null" >
        t_like = #{tLike,jdbcType=INTEGER},
      </if>
      <if test="tAttention != null" >
        t_attention = #{tAttention,jdbcType=INTEGER},
      </if>
      <if test="tDislike != null" >
        t_dislike = #{tDislike,jdbcType=INTEGER},
      </if>
      <if test="tAsk != null" >
        t_ask = #{tAsk,jdbcType=INTEGER},
      </if>
      <if test="tQuestion != null" >
        t_question = #{tQuestion,jdbcType=INTEGER},
      </if>
      <if test="tAsklist != null" >
        t_asklist = #{tAsklist,jdbcType=INTEGER},
      </if>
      <if test="tQuestionlist != null" >
        t_questionlist = #{tQuestionlist,jdbcType=INTEGER},
      </if>
      <if test="tPublishtime != null" >
        t_publishTime = #{tPublishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tContenttime != null" >
        t_contentTime = #{tContenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="complete != null" >
        complete = #{complete,jdbcType=INTEGER},
      </if>
      <if test="uncomplete != null" >
        uncomplete = #{uncomplete,jdbcType=INTEGER},
      </if>
      <if test="tState != null" >
        t_state = #{tState,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where thesisId = #{thesisid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pjmike.lundao.po.Thesis" >
    update thesis
    set t_debateId = #{tDebateid,jdbcType=INTEGER},
      t_description = #{tDescription,jdbcType=VARCHAR},
      t_view = #{tView,jdbcType=INTEGER},
      t_like = #{tLike,jdbcType=INTEGER},
      t_attention = #{tAttention,jdbcType=INTEGER},
      t_dislike = #{tDislike,jdbcType=INTEGER},
      t_ask = #{tAsk,jdbcType=INTEGER},
      t_question = #{tQuestion,jdbcType=INTEGER},
      t_asklist = #{tAsklist,jdbcType=INTEGER},
      t_questionlist = #{tQuestionlist,jdbcType=INTEGER},
      t_publishTime = #{tPublishtime,jdbcType=TIMESTAMP},
      t_contentTime = #{tContenttime,jdbcType=TIMESTAMP},
      complete = #{complete,jdbcType=INTEGER},
      uncomplete = #{uncomplete,jdbcType=INTEGER},
      t_state = #{tState,jdbcType=LONGVARCHAR}
    where thesisId = #{thesisid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pjmike.lundao.po.Thesis" >
    update thesis
    set t_debateId = #{tDebateid,jdbcType=INTEGER},
      t_description = #{tDescription,jdbcType=VARCHAR},
      t_view = #{tView,jdbcType=INTEGER},
      t_like = #{tLike,jdbcType=INTEGER},
      t_attention = #{tAttention,jdbcType=INTEGER},
      t_dislike = #{tDislike,jdbcType=INTEGER},
      t_ask = #{tAsk,jdbcType=INTEGER},
      t_question = #{tQuestion,jdbcType=INTEGER},
      t_asklist = #{tAsklist,jdbcType=INTEGER},
      t_questionlist = #{tQuestionlist,jdbcType=INTEGER},
      t_publishTime = #{tPublishtime,jdbcType=TIMESTAMP},
      t_contentTime = #{tContenttime,jdbcType=TIMESTAMP},
      complete = #{complete,jdbcType=INTEGER},
      uncomplete = #{uncomplete,jdbcType=INTEGER}
    where thesisId = #{thesisid,jdbcType=INTEGER}
  </update>
</mapper>